body{
    background-color: #086972;
}

html, body {
    padding:0;
    margin:0;
}

.row {
    display: flex;
    text-align: center;
    height: 92px;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}

.all-elements{
    padding: 30px;
}

a, .empty-div {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    /* flex: 2vw 0 0; */
    color: black;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 2px;
    height: 88px;
    width: 82px;
    text-decoration: none;
}

p {
    margin: 0px;
}

a>p:nth-child(3){
    font-size: 13px;
    font-weight: normal;
}

a>p:nth-child(4){
    font-size: 10px;
    font-weight: normal;
}

a>p:nth-child(2){
    font-size: 22px;
}

a>p:nth-child(1){
    font-size: 18px;
    font-weight: normal;
}

.AlkaliMetal{
    background-color: #c62835;
}

.AlkalineEarthMetal{
    background-color: #e1a431;
}

.free-space{
    margin-bottom: 30px;
}

.TransitionMetal{
    background-color: #9abee2;
}

.PostTransitionMetal{
    background-color: #5ac65a;
}

.Metalloid{
    background-color: #afbc89;
}

.Nonmetal{
    background-color: #dada68;
}

.Halogen {
    background-color: #9ec87c;
}

.Noblegas{
    background-color: #f5b2ca;
}

.Nonmetal:hover{
    transform: scale(1.05);
    transition-property: transform;
    transition-duration: 0.3s;
    cursor: pointer;
}

.TransitionMetal:hover{
    transform: scale(1.05);
    transition-property: transform;
    transition-duration: 0.3s;
    cursor: pointer;
}

.PostTransitionMetal:hover{
    transform: scale(1.05);
    transition-property: transform;
    transition-duration: 0.3s;
    cursor: pointer;
}

.Metalloid:hover{
    transform: scale(1.05);
    transition-property: transform;
    transition-duration: 0.3s;
    cursor: pointer;    
}

.Halogen:hover{
    transform: scale(1.05);
    transition-property: transform;
    transition-duration: 0.3s;
    cursor: pointer;    
}

.Noblegas:hover{
    transform: scale(1.05);
    transition-property: transform;
    transition-duration: 0.3s;
    cursor: pointer;    
}

.AlkalineEarthMetal:hover{
    transform: scale(1.05);
    transition-property: transform;
    transition-duration: 0.3s;
    cursor: pointer;   
}

.AlkaliMetal:hover{
    transform: scale(1.5);
    transition-property: transform;
    transition-duration: 0.6s;
    cursor: pointer;    
}