.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #85dd62;
    margin-bottom: 70px;
}

.heading{
    margin-top: 20px;
    margin-bottom: 0px;
}

.navigation ul{
    display: flex;
    flex-direction: row;
}

.navigation ul li{
    list-style-type: none;
    margin-left: 30px;
    padding: 20px 30px;
    font-size: 22px;
}

.links{
    text-decoration: none;
    color: white;
    height: 30px;
}

.nav-list li:hover{
    background-color: #086972;
}

.nav-list{
    margin: 0px;
}

.heading{
    color: white;
    font-size: 22px;
}
