.wrapper {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 350px;
    height: 300px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    left: 570px;
}

.sign-in-table {
    display: flex;
    justify-content: center;
    background-color: #85dd62;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
}


.email-input {
    margin-left: 110px;
    width: 200px;
    height: 22px;
    border: 0;
    border-bottom: 1px solid black;

    outline: none;

}

/* .email-input::-moz-placeholder { /* Firefox 19+ */
/* color: black;
    padding-left: 20px;
    opacity: 0.8;
}  */

.email-label {
    font-size: 18px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: gray;
}

.email-div {
    margin: 0 20px;
    width: 310px;
    position: relative;
    padding: 15px 0 0 0;
}

.email-input:focus~.email-label{ 

    transition: 0.2s;
    font-size: 18px;
    font-weight: 700;
    color: #85dd62;
}



.email-input:focus {
    border-bottom: 1px solid #85dd62;
}




.password-input {
    margin-left: 110px;
    width: 200px;
    height: 22px;
    border: 0;
    border-bottom: 1px solid black;

    outline: none;

}

/* .email-input::-moz-placeholder { /* Firefox 19+ */
/* color: black;
    padding-left: 20px;
    opacity: 0.8;
}  */

.password-label {
    font-size: 18px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: gray;
}

.password-div {
    margin: 0 20px;
    width: 310px;
    position: relative;
    padding: 15px 0 0 0;
}

.password-input:focus~.password-label {
    transition: 0.2s;
    font-size: 18px;
    font-weight: 700;
    color: #85dd62;
}

.password-input:focus {
    border-bottom: 1px solid #85dd62;
}


/* CSS */
.login-button {
    appearance: none;
    background-color: #85dd62;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 90px;
    margin-left: 120px;
    margin-top: 20px;
}

.login-button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.login-button:hover {
    background-color: #2c974b;
}

.login-button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.login-button:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.login-button:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}